@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    @apply bg-rose-500 text-white ;
}

.text-center-last{
    text-align-last: center;
}

.text-orange{
    color: #EE842D;
}

.bg-orange{
    background-color: #EE842D;
}

.border-orange{
    border-color: #EE842D;
}

.hover:text-orange:hover{
    color: #EE842D;
}

.hover:bg-orange:hover{
    background-color: #EE842D;
}


@media screen and (max-width:800px) {
    .pq-bs {
      margin-top: 30px;
    }       
 }    
